@import "syntax-highlighting.css";

h1, h2, h3 {
  padding-top: 1em;
}

.no-op {
  text-decoration: line-through;
}

acronym, abbr, time {
  border-bottom: 1px dashed silver;
}


.container {
  padding-bottom: 180px;
}



/*** nav ***/
img.icon {
  vertical-align: middle;
  padding-right: 5px;
  text-decoration: none;
}


#sidebar h2 {
  padding-left: 21px;
  background-position: 0 1.5em;
  background-repeat: no-repeat;
}
#sidebar h2 a {
  text-decoration: none;
}

form#search {
  margin-top: 20px;
}
form#search input[type=text] {
  margin: 1px;
  width: 90%;
  padding-left: 18px;
  background: url(/images/bg_magnify.gif) no-repeat 1px 1px;
  border: 1px solid white;
  color: #cccccc;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}
form#search input[type=text]:focus, form#search input[type=text].focus {
  width: 75%;
  border: 1px solid #cccccc;
  color: black;
  text-decoration: none;
  cursor: text;
}
form#search input[type=submit] {
  margin: 1px;
  border: 1px solid #cccccc;
  background-color: white;
  color: gray;
}


/*** blog ***/
div.subtitle {
  font-style: italic;
  font-size: 0.75em;
  margin-bottom: 1em;
}
div.subtitle .desc {
  float: left;
  margin-right: 5px;
}
div.subtitle .date {
  text-align: right;
}
#disqus_thread {
  border-top: 1px solid lightgray;
  margin-top: 3em;
  padding-top: 1.5em;
}

.pagination {
  margin-top: 4em;
}

/*** sidebar ***/
b.largest, span.largest {
  font-size: 1.65em;
}
b.large, span.large {
  font-size: 1.2em;
}


.about h1 { margin-left: 170px; }
@media (max-width: 480px) {
  .about h1 { margin-left: inherit; }
  .about .pull-left {
    opacity: .3;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}


.portfolio .media {
  overflow: inherit;
}

.portfolio h2 {
  text-align: right;
  padding: 0px;
  margin-top: 2em;
  color: #cccfd0;
  border-top: 2px solid #dddfe0;
}

.portfolio .description {
  display: none;
}





.hireme {
  margin: 50px 25px;
}




footer {
  background: url(/images/rule.png) repeat-x 0px 0px;
  clear: both;
  width: 100%;
  height: 180px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 0px;
}

#footer-img {
  background: url(/images/carpeliam-logo.png) no-repeat 100% 50%;
  width: 100%;
  height: 180px;
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
  }
}

@media (max-width: 675px) {
  #footer-img {
    background-size: 100%;
  }
}

#footer-content {
  padding-top: 100px;
}
#footer-content ul {
  list-style: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  display: inline;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#footer-content ul li.selected {
  font-weight: bold;
}
#footer-content div.tooltip {
  display: none;
}
#footer-content li {
  display: inline;
}
#footer-content span#invisible {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
