<div class="pagination pagination-centered">
  <ul>
    <li{% unless paginator.previous_page %} class="disabled"{% endunless %}>
      <a{% if paginator.previous_page %} href="{{ paginator.previous_page_path }}"{% endif %}>&laquo;</a>
    </li>
    <li{% if paginator.page == 1 %} class="active"{% endif %}>
      <a{% unless paginator.page == 1 %} href="/"{% endunless %}>1</a>
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li{% if paginator.page == count %} class="active"{% endif %}>
        <a{% unless paginator.page == count %} href="/page{{ count }}"{% endunless %}>{{ count }}</a>
      </li>
    {% endfor %}
    <li{% unless paginator.next_page %} class="disabled"{% endunless %}>
      <a{% if paginator.next_page %} href="{{ paginator.next_page_path }}"{% endif %}>&raquo;</a>
    </li>
  </ul>
</div>