<!DOCTYPE html>

<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}liam morley{% endif %} :: carpeliam.com</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/jquery.popeye.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/jquery.popeye.style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/site.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/js/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span8">
          {{ content }}
        </div>
        <div id="sidebar" class="span4">
          <h2 id="twitter">
            <a href="http://twitter.com/carpeliam" title="carpeliam on twitter">status</a>
          </h2>
          <div id="twitterbox">
            Follow
            <a href="http://www.twitter.com/carpeliam">@carpeliam</a>
            on
            <a href="http://www.twitter.com/carpeliam">twitter</a>.
          </div>
          <h2>activity</h2>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer-img">
        <div id="footer-content">
          <nav>
            <ul>
              {% for link in site.navigation %}
              <li{% if page.url == link.url %} class="selected"{% endif %}>
                {% if page.url != link.url %}
                { <a href="{{ link.url }}"{% if link.strike %} class="no-op"{% endif %} data-toggle="popover" data-content="{{ link.tooltip | xml_escape }}">{{ link.text }}</a> }
                {% else %}
                { {{ link.text }} }
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <script id="sideItemTemplate" type="text/template">
      <li class="item-<%= itemType %>">
        <a href="<%= url %>"><%= title %></a>
        <time datetime="<%= time %>">
          <%= date %>
        </time>
      </li>
    </script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.popeye-2.1.min.js"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/lastfm.api.md5.js"></script>
    <script src="/js/lastfm.api.js"></script>
    <script src="/js/lastfm.api.cache.js"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="/js/carpeliam.js"></script>
    <script>
      //<![CDATA[
        $(function() {
          // $("#twitterbox").tweet({
          //   username: "carpeliam",
          //   count: 4,
          //   fetch: 8,
          //   filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
          //   loading_text: "loading tweets...",
          //   template: "{text} {time}"
          // });
        });
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23415161-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
